<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pedidos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Sistema de Gestão de Pedidos</h1>
		<hr>
		<h2>Realizar Pedido</h2>
		<form action="#" th:action="@{/controle/pedidos/salvar}"
			th:object="${pedido}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			<hr>



			<div class="table-responsive">
				<h3>Produtos</h3>
				<span if="${#fields.hasErrors('pedidoItem')}" errors="*{pedidoItem}"
					class="text-danger"> </span>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Código</th>
							<th scope="col">Quantidade</th>
							<th scope="col">Produto</th>
							<th scope="col">Pessoa</th>
							<th scope="col"><button type="submit" name="addItem">
									<a class="btn btn-success"> Incluir Pedido</a> <i
										class="fas fa-plus-circle"></i>
								</button></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item, itemStat : *{pedidoItem}">
							<th scope="row" th:text="${itemStat.count}"><input
								type="hidden" th:field="*{pedidoItem[__${itemStat.index}__].id}"></th>
							<td><input type="text"
								th:field="*{pedidoItem[__${itemStat.index}__].quantidade}" /></td>
							<td><select
								th:field="*{pedidoItem[__${itemStat.index}__].produto}">
									<option th:each="prodOpc : ${listaProdutos}"
										th:value="${prodOpc.id}" th:text="${prodOpc.nomeprod}">
									</option>
							</select></td>
							<td><select
								th:field="*{pedidoItem[__${itemStat.index}__].pessoa}">
									<option th:each="pessoaOpc : ${listaPessoas}"
										th:value="${pessoaOpc.id}" th:text="${pessoaOpc.nome}">
									</option>
							</select></td>


							<td>
								<button type="submit" name="removeItem"
									th:value="${itemStat.index}">
									<a class="btn btn-danger">Excluir</a> <i
										class="fas fa-minus-square"></i>
								</button>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
			</hr>

			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<a th:href="@{/controle/pessoas}">Retornar para a lista de pessoas</a>


		</hr>
	</div>

</body>
</html>
